<!DOCTYPE html>
  <head>
    <title>Smart Garden</title>
  </head>

  <body>
    <h1>CSCI 433 Final Project: Smart Garden</h1>   
    <h3>Zoe Yang & Riya Shrestha</h3>
    <br>
    <div>
      <h3>WATER</h3>
      <a href="/auto/water/ON"><button>Turn ON Auto Watering</button></a>
      <a href="/auto/water/OFF"><button>Turn OFF Auto Watering</button></a>
      <a href="/water"><button>Water Once</button></a><br><br>
      <a href="/sensor"><button>Check Soil Status</button></a>
      <a href="/last_watered"><button>Check Time Last Watered</button></a><br>
    </div>
    
    <div>
      <h3>LIGHT</h3>
      <a href="/auto/light/ON"><button>Turn ON Auto Light</button></a>
      <a href="/auto/light/OFF"><button>Turn OFF Auto Light</button></a>
    </div>

    <div>
      <h3>FAN</h3>
      <a href="/auto/fan/ON"><button>Turn ON Auto Fan</button></a>
      <a href="/auto/fan/OFF"><button>Turn OFF Auto Fan</button></a>
    </div>

    <h2> {{ text }} </h2>
  </body>
</html>